* {
    font-family: 'Lobster', cursive;
    font-weight: 100;
    font-size: 20px;
    background-color:white;
}

.caja, .caja2{
    margin: 25px;
    width: 300px;
    height: 200px;
    display: inline-block;
}

.caja img {
    height: 100%;
    width: 100%;
    border: 2px solid blueviolet;
    object-fit: cover;
    object-position: bottom;
}

.caja2 img {
    height: 100%;
    width: 100%;
    border: 2px solid blueviolet;
    object-fit: cover;
    object-position: top;
}