* {
    font-family: 'Lobster', cursive;
    font-weight: 100;
    font-size: 20px;
    background-color:white;
}

.caja, .caja2, .caja3, .caja4 {
    margin: 10px;
    width: 300px;
    height: 350px;
    display: inline-block;
}

.caja img {
    height: 100%;
    width: 100%;
    border: 2px solid blueviolet;
    object-fit: contain;
}

.caja2 img {
    height: 100%;
    width: 100%;
    border: 2px solid blueviolet;
    object-fit: cover;
}

.caja3 img {
    height: 100%;
    width: 100%;
    border: 2px solid blueviolet;
    object-fit: scale-down;
}

.caja4 img {
    height: 100%;
    width: 100%;
    border: 2px solid blueviolet;
    object-fit: none;
}